@using Etrade.Entities.Models.Identity
@model IEnumerable<Role>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<hr />

<a asp-action="Create">Role Create</a>
<table class="table table-bordered table-striped">
    <thead>
        <th>Role Name</th>
        <th>Settings</th>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>    
        }
    </tbody>
</table>


