@model Etrade.Entities.Models.Entities.Product
@{
    ViewData["Title"] = "Details";
}

<div class="card mb-3" style="max-width: 1150px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="img/iphone.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <span class="badge text-primary"> @Model.Stock</span>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellat, officia quia sit, dolores esse eos dicta ea inventore corporis eaque! Molestias expedita ullam unde sit ut aliquid eaque officiis.</p>

              
                <div class="shadow-sm mb-5 bg-body rounded">
                    <span class="badge text-danger h4 rounded">@Model.Price ₺</span>
                    <br>
                    <a href="~/Cart/Buy/@Model.Id" class="btn btn-primary ms-2 mb-2">
                       
                        Sepete Ekle
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

